snippet ie      针对IE的处理
	<!--[if lt IE ${1:9}]>${0}
	<![endif]-->
snippet !       HTML注释
	<!-- ${0} -->
snippet all
	<!DOCTYPE HTML>
	<html>
	    <head>
	        <title>${0}</title>
	    </head>
	    <body>
	    </body>
	</html>
